{% extends 'base.html.twig' %}
{% block title %}Detaille Article{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('/styles/bootstrap-4.1.2/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ asset('/plugins/flexslider/flexslider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('/styles/product.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('/styles/product_responsive.css') }}">
{% endblock %}
{% block body %}
    <div class="product">
        <div class="container">
            <div class="row">

                <!-- Product Image -->
                <div class="col-lg-6">
                    <div class="product_image_slider_container">
                        <div id="slider" style="overflow: hidden;position: relative">
                            <img src="/uploads/{{ article.image }}" style="object-fit: cover;" width="100%" height="100%"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 product_col">
        <div class="product_info">
        <div class="product_name">{{ article.NomArticle }}</div>
        <div class="product_category">In {{ article.categorie }}</div>
        <div class="product_rating_container d-flex flex-row align-items-center justify-content-start">
            <div class="rating_r rating_r_4 product_rating"><i></i><i></i><i></i><i></i><i></i></div>
            <div class="product_reviews">4.7 out of (3514)</div>
            <div class="product_reviews_link"><a href="#">Reviews</a></div>
        </div>
        <div class="product_price"><span>${{ article.prix }}</span></div>
        <div class="product_text">
            <p>{{ article.description }}</p>
        </div>
        <div class="product_buttons">
            <div class="text-right d-flex flex-row align-items-start justify-content-start">
                <div class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                    <div><div><img src="/uploads/heart_2.svg" class="svg" alt=""><div>+</div></div></div>
                </div>
                <div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                    <div>
                        <div href="{{ path('add_cart',{id : article.id}) }}">
                            <img src="/uploads/cart.svg" class="svg" alt="">
                            <div>+</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('/styles/bootstrap-4.1.2/popper.js') }}"></script>
<script src="{{ asset('/styles/bootstrap-4.1.2/bootstrap.min.js') }}"></script>
<script src="{{ asset('/plugins/greensock/TweenMax.min.js') }}"></script>
<script src="{{ asset('/plugins/greensock/TimelineMax.min.js') }}"></script>
<script src="{{ asset('/plugins/scrollmagic/ScrollMagic.min.js') }}"></script>
<script src="{{ asset('/plugins/greensock/animation.gsap.min.js') }}"></script>
<script src="{{ asset('/plugins/greensock/ScrollToPlugin.min.js') }}"></script>
<script src="{{ asset('/plugins/OwlCarousel2-2.2.1/owl.carousel.js') }}"></script>
<script src="{{ asset('/plugins/easing/easing.js') }}"></script>
<script src="{{ asset('/plugins/progressbar/progressbar.min.js') }}"></script>
<script src="{{ asset('/plugins/parallax-js-master/parallax.min.js') }}"></script>
<script src="{{ asset('/plugins/flexslider/jquery.flexslider-min.js') }}"></script>
<script src="{{ asset('/js/product.js') }}"></script>
{% endblock %}